@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Oswald&family=Roboto+Slab&display=swap');
 body, html {
     background-color: #f7f3f0;
     margin: 0;
     width: 100%;
}
/*First section*/
 #first-block {
     background-color: #2B022B;
     display: flex;
     flex-direction: column;
     font-size: 11vw;
     justify-content: center;
     min-height: 678px;
     position: relative;
}
 div#first-block::before {
     background: #7c43bd;
     content: '';
     display: block;
     height: 100%;
     margin-left: 70%;
     position: absolute;
     width: 25%;
}
 .main-header {
     color: #FEFEFE;
     font-family: 'Roboto Slab', serif;
     display: inline-block;
     margin: 0;
     padding-right: 30px;
     position: relative;
     text-align: right;
     width: 76vw;
     z-index: 2;
}
 .main-header .colorful-bg {
     background: #12005e;
}
 .colorful-bg {
     -webkit-animation: colorful-bg 1s ease 1;
     -webkit-box-shadow: 0 0 20px #2B022B;
     animation: colorful-bg 1s ease 1;
     box-shadow: 0 0 20px #2B022B;
     height: 100%;
     position: absolute;
     transition: width 1s ease;
     width: 100%;
     z-index:-1;
}
/*animation*/
@-moz-keyframes colorful-bg {
    0% {
        width: 0 
   }
    100% {
        width: 100%;
   }
}
@-o-keyframes colorful-bg {
    0% {
        width: 0 
   }
    100% {
        width: 100%;
   }
}
 @-webkit-keyframes colorful-bg {
    0% {
         width: 0 
    }
    100% {
         width: 100%;
    }
}
@keyframes colorful-bg {
    0% {
        width: 0 
   }
    100% {
        width: 100%;
   }
}
 .subheader {
     color: #FEFEFE;
     display: block;
     font-family: 'Oswald', sans-serif;
     font-size: 8vw;
     padding-right: 24px;
     position: relative;
     text-align: right;
     width: 50%;
     z-index: 1;
}
 .subheader .colorful-bg {
     background: #7c43bd;
}
 #first-block .wave {
     bottom: 0;
}
 .wave {
     background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMzNweCIgdmlld0JveD0iMCAwIDEyODAgMTQwIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxnIGZpbGw9IiNmN2YzZjAiPjxwYXRoIGQ9Ik0zMjAgMjhjMzIwIDAgMzIwIDg0IDY0MCA4NCAxNjAgMCAyNDAtMjEgMzIwLTQydjcwSDBWNzBjODAtMjEgMTYwLTQyIDMyMC00MnoiLz48L2c+PC9zdmc+);
     background-repeat: no-repeat;
     background-size: 100% 133px;
     height: 130px;
     position: absolute;
     width: 100%;
     z-index: 1;
}
/*Second section*/
 #second-block .wave {
     -ms-transform: rotate(180deg);
     -webkit-transform: rotate(180deg);
     bottom: -130px;
     transform: rotate(180deg);
}
 #second-block {
     display: flex;
     flex-wrap: wrap;
     padding-top: 80px;
     position: relative;
     width: 100%;
}
 .bio {
     color: #fefefe;
     font-family: 'Oswald', sans-serif;
     font-size: 11vw;
     width: 50%;
}
 .personal-details {
     display: -ms-grid;
     display: grid;
     font-size: 1.5em;
     margin: 0 auto;
     width:100%;
}
 .personal-details-item:first-child {
     -ms-grid-column-span: 2;
     -ms-grid-row: 1;
     grid-column: span 2;
     grid-row: 1;
}
 .personal-details-item:last-child {
     -ms-grid-column: 2;
     -ms-grid-row: 2;
     grid-column: 2;
     grid-row: 2;
}
 .personal-details-item {
     max-width: 780px;
     padding: 16px 32px;
}
 .personal-details-item span {
     font-style: italic;
}
 .details-title {
     color: #c4c0be;
     font-family: 'Oswald', sans-serif;
     font-size: 50px;
}
 .description {
     margin-bottom: 50px;
     padding-top: 10px;
}
 .description, ul {
     color: #333;
     font-family: 'Montserrat', sans-serif;
     padding-left: 0;
}
 li {
     list-style:none;
     padding: 10px 0 20px 0;
     position: relative;
}
 li:not(:last-of-type):after {
     border-bottom: 1px solid #c4c0be;
     bottom: 0;
     content: "";
     height: 30px;
     left: 0;
     position: absolute;
     width: 128px;
}
 .bio-title {
     -webkit-box-shadow: 0 0 4px #c4c0be;
     background: #c4c0be;
     box-shadow: 0 0 4px #c4c0be;
     padding-right: 30px;
     position: relative;
     text-align: right;
}
 .picture-container {
     -ms-grid-column: 1;
     -ms-grid-row: 2;
     grid-column: 1;
     grid-row: 2;
     margin: 0 auto;
     max-width: 380px;
}
 img {
     border-radius: 8px;
     width: 100%;
}
 figcaption {
     font-family: 'Montserrat', sans-serif;
     font-size: 16px;
}
 .main-bio-container {
     width: 100%;
}
 .demo-title {
     color: #c4c0be;
     font-family: 'Roboto Slab', serif;
     font-size: 2.5em;
     margin-bottom: 8px;
     text-align: center;
}
 .audios {
     border-radius: 8px;
}
 .audios audio {
     display: none;
}
 .player {
     align-items: center;
     background-color: transparent;
     border: 1px solid #c4c0be;
     border-radius: 8px;
     cursor: pointer;
     display: flex;
     justify-content: center;
     min-width: 300px;
     text-align: center;
}
 .player .fa-solid {
     color: #333;
     display: flex;
     font-size: 4em;
     justify-content: center;
     height: 100%;
     width: 100%;
}
 .audios-container {
     align-items: center;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     margin: 0 auto;
     max-width: 800px;
     padding-bottom: 80px;
     width: 100%;
}
/*Third section*/
 #form-section {
     background: #4a148c;
     padding-top: 80px;
}
 div[data-aidaform-widget] {
     margin-left: 32px;
     margin-right: 32px;
     margin-top: 40px;
}
 .social-media-container a {
     color: #ffffff;
     margin: 0 8px;
     text-decoration: none;
}
 input, textarea {
     background: none;
     border-bottom: 1px solid #fefefe;
     border-left: none;
     border-right: none;
     border-top: none;
     color: #fefefe;
     font-family: 'Montserrat', sans-serif;
     font-size: 15px;
     width: 400px;
}
 .contact-title {
     -webkit-box-shadow: 0 0 4px #12005e;
     background: #12005e;
     box-shadow: 0 0 4px #12005e;
     color: #ffffff;
     display: inline-block;
     font-family: 'Oswald', sans-serif;
     font-size: 11vw;
     margin-top: 100px;
     padding-right: 30px;
     text-align: right;
     width: 50%;
}
 .social-media-container {
     display: flex;
     background: #323232;
     font-size: 24px;
     justify-content: center;
     align-items: center;
     text-align: center;
     padding: 4px;
}
 @media only screen and (max-width: 40.063em) {
     #first-block {
         min-height: 554px;
    }
     .picture-container {
         -ms-grid-column: 1;
         -ms-grid-row: 1;
         grid-column: 1;
         grid-row: 1;
         margin-top: 24px;
         max-width: 320px;
    }
     .personal-details-item:first-child {
         -ms-grid-column: 1;
         -ms-grid-row: 2;
         grid-column: 1;
         grid-row: 2;
    }
     .personal-details-item:last-child {
         -ms-grid-column: 1;
         -ms-grid-row: 3;
         grid-column: 1;
         grid-row: 3;
    }
     .audios {
         margin: 0 auto;
         width: 320px;
    }
     div[data-aidaform-widget] {
         margin: 40px auto 0 auto;
    }
}
